<!-- <div style="text-align: center">
<h1>Git-Bot</h1>
<form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
<nav>
	<h3><a routerLink="/create" routerLinkActive="active" style="text-decoration: none">Create your Repositoy Here</a></h3><br>
    <h3><a routerLink="/delete" routerLinkActive="active" style="text-decoration: none">Delete your Repository here</a></h3><br>
    <h3><a routerLink="/get" routerLinkActive="active" style="text-decoration: none">Get your Repositories here</a></h3>
</nav>
</div>
<router-outlet></router-outlet> -->
<div style="text-align: center">
<!-- <nav>
<h1><a routerLink="" routerLinkActive="active" style="text-decoration: none"></a></h1><br>
</nav> -->
<h1 style="font-size: 70px; color: green" >GITBOT</h1>
<img src="https://cdn.freebiesupply.com/logos/large/2x/github-icon-logo-png-transparent.png" alt="smelly cat" heigth="120px" width="120px" style="margin-top: -30px ">
<chat-dialog ></chat-dialog>
<router-outlet></router-outlet>
</div>